<header class="myheader">
  <h1>
    <a style="all: unset" href="/">Courses4Arab</a>
  </h1>

  <nav>
    <ul class="parent">
      <li>
        <a href="https://courses4arab.com/#available-courses">
          Allww Courses
        </a>
      </li>
      
      <li id="dark" class="mode">change mode</li>
      <li><a href=""> Support Us </a></li>

      <li><a href="/login">  login</a></li>
      <li><a href="/signup">  signup</a></li>
      <li>        <a href="/my_account"> <img class ="img_btn" src="/images/61205.png" alt="buttonpng" /></a>
      </li>
     
    </ul>
  </nav>
</header>
