<!DOCTYPE html>

<html lang="ar">
  <%- include("./partials/head") %>

  <body id="body">
    <%- include("./partials/header") %>

    <main id="main">
      <section>
        <h1>Create new article</h1>





        
        <form method="POST" action="/all-articles">
          

          


          
          <label for="email">email: </label>
          <input name="email" id="email" type="text" />
          <label for="password">password: </label>
          <input name="password" id="password" type="text" />

         

          
          <a href="/all_articals"> <button class="create">log in</button></a>


        
                  



            
          
          
          


        </form>









      </section>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
